.skills__list {
  display: flex;
  flex-direction: row;
  gap: var(--margin-big) var(--margin-default);
  flex-wrap: wrap;
  justify-content: center;
}

.skill__item {
  display: flex;
  align-items: center;
  height: 2rem;
}

.skill__icon {
  height: 100%;
  margin-right: var(--margin-small);
}
